<launch>
    <arg name="ahead_topic" default="/grayscale_data_ahead" />
    <arg name="behind_topic" default="/grayscale_data_behind" />
    <param name="gray_topic_ahead" value="$(arg ahead_topic)" />
    <param name="gray_topic_behind" value="$(arg behind_topic)" />
    <node pkg="cross_detect" type="cross_detect_node" name="cross_detect" output="screen">
    </node>
</launch>